.alert-material {
    position: fixed;
    right: 15px;
    top: 100px;
    background-color: #428bca;
    color: white;
}

body, header, footer {
    padding-right:0px !important;
    margin-right:0px !important;
}

.single {
    padding: 30px;
}

.single h3.side-title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
}

.single h3.side-title:after {
    content: '';
    width: 60px;
    height: 1px;
    background: #ff173c;
    display: block;
    margin-top: 6px;
}

.single ul {
    margin-bottom: 0;
}

.single li a {
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #f0f0f0;
    line-height: 40px;
    display: block;
    text-decoration: none;
}

.single li a:hover {
    color: #ff173c;
}

.single li:last-child a {
    border-bottom: 0;
}